jekyll:
  build: .
  container_name: my-jekyll
  ports:
    - 4000:4000
  volumes:
    - '//Volumes/DATA/projects/ofimaticaeasy:/app'
  working_dir: /app
  command: jekyll serve --watch --host 0.0.0.0