<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | OfimaticaEasy.es</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}website{% endif %}" />
    <meta property="og:title" content="{{ page.title }} | OfimaticaEasy.es" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="OfimaticaEasy" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">

</head>
